#!/usr/bin/make -f

U_BOOT_SPL_BIN := /usr/lib/u-boot/starfive-visionfive2/u-boot-spl.bin
# taken from https://github.com/starfive-tech/Tools
OFFSET := 0x01010101

override_dh_auto_build:
	cp $(U_BOOT_SPL_BIN) u-boot-spl.bin
	/usr/lib/jh7110-uboot-spl-tool/jh7110_uboot_spl u-boot-spl.bin $(OFFSET)
	mv u-boot-spl.bin.out u-boot-spl.bin.normal.out

%:
	dh \$@
